:root{
    --primary-background: #FDF5E1;
    --primary-text: #824101;
    --secondary-text: #ac6620;
    --primary-container: #C59A6F;
}
html{
    height: 100%;
    margin: 0;
    padding: 0;
}
#home-container{
    width: 92%;
    margin:auto;
    margin-top: 125px;
}
#project-page{
    margin-top: 125px;
}
body{
    background-color: var(--primary-background);
    font-family: 'Karla', sans-serif;
    height:100%;
    margin:0px;
    padding:0px;
    font-size:19px;
    color:var(--primary-text)
}
#home{
    box-sizing: border-box;
    width:95%;
    margin: 5% 0% 0% 0%;        
    border:var(--primary-text) 3px solid;
    padding:12% 0px 10% 0px;
    position:relative;
}
#home::after{
    content: "";
    position: absolute;
    display: block;
    background: inherit;
    border-radius: inherit;
    border: var(--secondary-text) 3px solid;
    left: 5%;
    top: 12%;
    width: 100%;
    height: 100%;
}
#about{
    margin-top:10%;
    margin-bottom: 5%;
}
.about-skills h4{
    font-size: 1.5vw;
    color:var(--secondary-text); 
}
.about-skills h3{
    font-size: 2.1vw;
    color:var(--secondary-text); 
}
button{
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 20px;
    background-color:var(--primary-background);
    color: var(--primary-container);
    border: solid 2px var(--primary-container);
    margin:5px;
}
button:hover{
    background-color: var(--primary-container);
    color: var(--primary-background);
}
#home h1{
    color: var(--primary-text);
    text-align: center;
    letter-spacing: 4px;
    padding:0px;
    font-weight:300;
}
#home .home-row h3{
    text-align: center;
    color: var(--secondary-text);
    font-weight: 300;
    font-size:3.4vw;
}
.about-row h3:after {
content: "";
display: block;
width: 500px;
height: 2px;
background: var(--primary-text);
right:-500px;
top: 50%;
position: absolute;
}
.about-row h3{
color: var(--primary-text);
font-size: 2.7vw;
max-width:60%;
position: relative;
width:fit-content;
}
#headshot{
    border: 1.5px var(--primary-text) solid;
    width:300px;
}

.project-div{
    background-color: var(--primary-container);
    opacity: 1;
    box-sizing: border-box;;
    padding: 0;
    border: 0px var(--primary-text) solid;
}
.project-div img{
    width:100%;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}
.project-div:hover img {
    opacity: 0.15;
  }
.content-row{
    width:90%;
    margin:0px auto;
}
footer{
    width:100%;
    padding:2% 0px 2.5% 0px;
    margin-top: 2%;
    position: relative;
    bottom:0%;
    text-align: center;
    border-top: 2px solid var(--primary-container);
}
.entry-div{
    padding-bottom: 20px;
}
.about-text{
    line-height: 1.7;
    text-align: justify;
    font-weight: 250;
    font-size: 18px;
}
.list-text{
    list-style-type: circle;
    font-weight: 250;
    color:rgb(132, 0, 0);
    font-size: 18px;
}
.list-awards{
    list-style-type: circle;
    /* font-weight: 250; */
}
.special-text{
    color:rgb(132, 0, 0);
    font-weight: 450;
}
.entry-div h5{
    font-weight: normal;
}

:root {
    --bg-color: var(--primary-background);
    --typewriterSpeed: 3s;
    --typewriterCharacters: 14;
  }

#home h1 {
/* font-size: clamp(6rem, 4vw + 4rem, 6rem); */
    font-size: 7vw;
    position: relative;
    width:fit-content;
    margin:0px auto;
    font-weight: 400;
  }

  #home h1::before,
  #home h1::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  #home h1::before {
    background: var(--bg-color);
    animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards;
  }

  #home h1::after {
    width: 0.125em;
    background: black;
    animation: typewriter var(--typewriterSpeed)
        steps(var(--typewriterCharacters)) 1s forwards,
      blink 1000ms steps(var(--typewriterCharacters)) 10;
  }

  @keyframes typewriter {
    to {
      left: 100%;
    }
  }

  @keyframes blink {
    to {
      background: transparent;
    }
  }
  .prev-div{
    width:100%;
    text-align: center;
  }

  #jobs{
    padding: 50px 0px;
  }
  #project-page h1{
    font-size:4vw;
    font-weight: 500;
    padding-left: 0;
  }
  #project-page h2{
    color: var(--secondary-text);
    font-weight: 600;
    padding-left: 0;
  }
  #project-page h4{
    color: var(--secondary-text);
    padding-left: 0;
  }
  #project-page a{
    color: var(--secondary-text);
    font-weight: 600;
  }
  #project-page a:hover{
    color: var(--primary-text);
  }
  #project-page strong{
    font-weight:600;
    font-size: 18.5px;
  }
  .project-role-row{
    border-bottom: 1.5px solid var(--secondary-text);
  }
  .project-info-row{
    border-bottom: 1.5px solid var(--secondary-text);
  }
  .tool-row{
    width:100%;
  }
  .tool{
    display:inline-block;
    background-color: var(--primary-container);
    width:fit-content;
    color: var(--primary-background);
    margin: 5px 0px;
  }

  .project-gallery-row img{
    width:100%;
}

#about img{
    width:100%;
}

nav{
    background-color: var(--primary-background);
    margin:0px auto;
    border-bottom: solid 2px var(--primary-container);
}
.navbar-light .navbar-nav .nav-link.active{
 color: var(--primary-text);
}
.navbar-light .navbar-nav .nav-link{
    color: var(--secondary-text);
    font-size: 22px;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: var(--primary-container);
    border-bottom:2px solid var(--primary-container);
    padding-bottom: 0px;
}
.navbar-light .navbar-nav{
    align-items: center;
}

nav img{
    width:65px;
}
  .project-div{
    position: relative;
  }
  .caption {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width:100%;
    height:100%;
    padding:20px;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}
.project-div:hover .caption {
    opacity: 1;
  }
.caption .text{
    color:var(--primary-background);
    font-size:2.4vw;
    text-shadow: -1px -1px 0 var(--primary-text), 1px -1px 0 var(--primary-text), -1px 1px 0 var(--primary-text), 1px 1px 0 var(--primary-text);
    font-weight: 600;

}

                                             /* START RESPONSIVE STYLING */
@media (max-width: 1007px) {
    .about-row h3:after {
        width: 300px;
        right:-300px;
    }
    #home .home-row h3{
        font-size:4vw;
    }
    .about-row h3{
        font-size: 3.5vw;
    }
    #project-page h1{
        font-size:6vw;
    }
    .about-skills h4{
        font-size: 2.3vw;;
    }
    .about-skills h3{
        font-size: 2.8vw;;
    }
    nav{
        border-bottom: none;
        margin-left:2%;
    }
    .navbar-light .navbar-nav .nav-link{
        border-bottom: 2px solid var(--primary-text);
        padding:3px;
        margin:5px;
    }
    .navbar-light .navbar-nav{
        align-items: normal;
    }
    nav img{
        display: none;
    }
    .caption .text{
        font-size:2.5vw;
    }
}
@media (max-width: 640px) {
    .about-row h3:after {
        width: 200px;
        right:-200px;
    }
    #home h1{
        font-size: 40px;
    } 
    #home h3{
        font-size: 22px;
    }
    .content-row{
        width:85%;
    }
    #about img{
        width:75%;
    }
    .about-skills h4{
    font-size: 3vw;;
    }
    .about-skills h3{
        font-size: 3.6vw;;
        }
    .about-row h3{
        font-size: 4.5vw;
    }
    #home-container{
        margin-top: 100px;
    }
    #project-page{
        margin-top: 100px;
    }
    .caption .text{
        font-size:5vw;
    }
}