/* ALL STYLES */
:root{
    --primary-background: #FDF5E1;
    --primary-text: #824101;
    --secondary-text: #ac6620;
    --primary-container: #C59A6F;
}
html{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}
body{
    background-color: var(--primary-background);
    font-family: 'Karla', sans-serif;
    height:100%;
    margin:0px;
    padding:0px;
    font-size:17px;
    color:var(--primary-text)
}
button{
    font-weight: 500;
    font-size: 17px;
    background-color:var(--primary-background);
    color: var(--primary-container);
    border: solid 2px var(--primary-container);
}
button:hover{
    background-color: var(--primary-container);
    color: var(--primary-background);
}
#project-page{
    margin-top: 125px;
}


/* HOME */
#home-container{
    width: 67%;
    margin:auto;
    margin-top: 100px;
}
#home{
    box-sizing: border-box;
    width:95%;
    margin: 5% 0% 0% 0%;        
    border:var(--primary-text) 4px solid;
    padding:7% 0px 5% 0px;
    position:relative;
}
#home::after{
    content: "";
    position: absolute;
    display: block;
    background: inherit;
    border-radius: inherit;
    border: var(--secondary-text) 4px solid;
    left: 5%;
    top: 12%;
    width: 100%;
    height: 100%;
}
#home h1{
    color: var(--primary-text);
    text-align: center;
    letter-spacing: 4px;
    padding:0px;
    font-weight:300;
}
#home .home-row h3{
    text-align: center;
    color: var(--secondary-text);
    font-weight: 300;
    font-size:2.6vw;
}

/* ABOUT */
main{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
#about{
    margin-top:70px;
    margin-bottom: 5%;
}
h2{
    font-weight: 600;
    font-size: 39px;
}
.heading-row h3{
    color: var(--primary-text);
    font-size: 2.3vw;
    max-width:60%;
    position: relative;
    width:fit-content;
}
.heading-row h3:after {
    content: "";
    display: block;
    width: 500px;
    height: 2.9px;
    background: var(--secondary-text);
    right:-500px;
    top: 50%;
    position: absolute;
}
.content-row{
    
    margin-left:3.5%;
    justify-content: center;
}
.content-row h4{
    color: var(--secondary-text);
    font-size: 18px;
    font-weight: 500;
    padding-left:0px;
}
 h5{
    color: var(--primary-container);
    font-size: 17px;
    font-weight: 500;
}

/* START PORTFOLIO SECTION */
.project-div{
    border: 2px solid var(--primary-text);
    padding:20px;
    margin:5px 0px;
    text-align: center;
}


/* START CONTACT & FOOTER */
#contact-card{
    width:45%;
    height:400px;
    margin:3% auto;
    border: 3px solid var(--primary-text);
    align-content: center;
    text-align: center;
    position: relative;
    margin-bottom: -150px;
    background-color: var(--bg-color);
}
footer{
    z-index:0;
    width:100%;
    height:25%;
    text-align: center;
    background-color:  var(--primary-container);
    color:white;
    align-content: end;
}



.entry-div{
    padding-bottom: 20px;
}
.about-text{
    line-height: 1.7;
    text-align: justify;
    font-weight: 250;
    font-size: 18px;
}
.list-text{
    list-style-type: circle;
    font-weight: 250;
    color:rgb(132, 0, 0);
    font-size: 18px;
}
.list-awards{
    list-style-type: circle;
    /* font-weight: 250; */
}
.special-text{
    color:rgb(132, 0, 0);
    font-weight: 450;
}
.entry-div h5{
    font-weight: normal;
}

.hidden{
    display: none;
}

:root {
    --bg-color: var(--primary-background);
    --typewriterSpeed: 3s;
    --typewriterCharacters: 14;
  }

#home h1 {
/* font-size: clamp(6rem, 4vw + 4rem, 6rem); */
    font-size: 5vw;
    position: relative;
    width:fit-content;
    margin:0px auto;
    font-weight: 400;
  }

  #home h1::before,
  #home h1::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  #home h1::before {
    background: var(--bg-color);
    animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards;
  }

  #home h1::after {
    width: 0.125em;
    background: black;
    animation: typewriter var(--typewriterSpeed)
        steps(var(--typewriterCharacters)) 1s forwards,
      blink 1000ms steps(var(--typewriterCharacters)) 10;
  }

  @keyframes typewriter {
    to {
      left: 100%;
    }
  }

  @keyframes blink {
    to {
      background: transparent;
    }
  }
  .prev-div{
    width:100%;
    text-align: center;
  }

  #jobs{
    padding: 50px 0px;
  }
  #project-page h1{
    font-size:4vw;
    font-weight: 500;
    padding-left: 0;
  }
  #project-page h2{
    color: var(--secondary-text);
    font-weight: 600;
    padding-left: 0;
  }
  #project-page h4{
    color: var(--secondary-text);
    padding-left: 0;
  }
  #project-page a{
    color: var(--secondary-text);
    font-weight: 600;
  }
  #project-page a:hover{
    color: var(--primary-text);
  }
  #project-page strong{
    font-weight:600;
    font-size: 18.5px;
  }
  .project-role-row{
    border-bottom: 1.5px solid var(--secondary-text);
  }
  .project-info-row{
    border-bottom: 1.5px solid var(--secondary-text);
  }
  .tool-row{
    width:100%;
  }
  .tool{
    display:inline-block;
    background-color: var(--primary-container);
    width:fit-content;
    padding: 0px 5px;
    color: var(--primary-background);
    margin: 5px 0px;
  }

  .project-gallery-row img{
    width:100%;
}

#about img{
    width:100%;
}

/* START NAVBAR */
nav{
    background-color: var(--primary-background);
    margin:0px auto;
    border-bottom: solid 2px var(--secondary-text);
}
.navbar-light .navbar-nav .nav-link.active{
 color: var(--primary-text);
}
.navbar-light .navbar-nav .nav-link{
    color: var(--primary-text);
    font-size: 20px;
    font-weight:500;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: var(--primary-container);
    border-bottom:2px solid var(--primary-container);
    padding-bottom: 0px;
}
.navbar-light .navbar-nav{
    padding: 0px 160px;
    align-items: center;
}

nav img{
    width:50px;
}

/* START PROJECT DIV */
.project-div{
position: relative;
}
.caption {
transition: .5s ease;
opacity: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
text-align: center;
width:100%;
height:100%;
padding:20px;
justify-content: space-between;
flex-direction: column;
display: flex;
}
.project-div:hover .caption {
    opacity: 1;
  }
.caption .text{
    color:var(--primary-background);
    font-size:2.4vw;
    text-shadow: -1px -1px 0 var(--primary-text), 1px -1px 0 var(--primary-text), -1px 1px 0 var(--primary-text), 1px 1px 0 var(--primary-text);
    font-weight: 600;

}

                                             /* START RESPONSIVE STYLING */
@media (max-width: 1007px) {
    .heading-row h3:after {
        width: 300px;
        right:-300px;
    }

    #project-page h1{
        font-size:6vw;
    }
    main h3{
        font-size: 2.8vw;
    }
    nav{
        border-bottom: none;
        margin-left:2%;
    }
    .navbar-light .navbar-nav .nav-link{
        border-bottom: 2px solid var(--primary-text);
        padding:3px;
        margin:5px;
    }
    .navbar-light .navbar-nav{
        padding: 0px 50px;
        align-items: normal;
    }
    nav img{
        display: none;
    }
    .caption .text{
        font-size:2.5vw;
    }
}
@media (max-width: 640px) {
    .heading-row h3:after {
        width: 200px;
        right:-200px;
    }
    #home h1{
        font-size: 40px;
    } 
    #home h3{
        font-size: 22px;
    }
    .content-row{
        width:85%;
    }
    #about img{
        width:75%;

    }
    .main h3{
        font-size: 3.6vw;
        }
    .heading-row h3{
        font-size: 4.5vw;
    }
    #home-container{
        margin-top: 100px;
    }
    #project-page{
        margin-top: 100px;
    }
    .caption .text{
        font-size:5vw;
    }
    main{
        width: 95%;
    }
    #contact-card{
        width:95%;
    }
}